@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

:root {
    --primary-color: #7c3aed;
    --text-white: #f3f4f6;
    --bg-color:#FDE68A;
    --text-color:#92400E;
}

html{
    background-color: var(--bg-color);
    color: var(--text-color);
}


.container {
    padding: 0 1rem;
}

.navigation {
    background-color: var(--primary-color);
    color: var(--text-white);
    padding: 0.5rem;
    border-radius: 1rem;
}

.navigation .link {
    color: var(--text-white);
}
  
.navigation .nav-pills {
    text-align: center;
}
  
.navigation .link-active {
    font-weight: bold;
}

.list-non-bullet {
    list-style: none;
}
  
.list-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 6rem;
}

body{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: larger;
    margin: 0;
}

.input-angle{
    margin: 1rem;
    padding: 1rem;
}
.input-angle .angle{
    font-size: large;
    border-radius: 0.5rem;
}

#check-btn{
    margin: 0.5rem;
    padding: 0.5rem;
    font-family: 'Raleway', sans-serif;
    font-size: large;
    border-radius: 0.5rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-color: var(--text-color);
    cursor: pointer;
}

#result-div{
    margin: 0.5rem;
    padding: 0.5rem;
    font-family: 'Raleway', sans-serif;
    font-size: large;
    color: var(--text-color);;
}

.fa{
    padding: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover{
    opacity: 0.7;
}

footer{
    margin-top: 3rem;
}

